/* Custom Properties */
:root{
    --color-primario: #cebbb0;
    --color-Secundario: #563c15;
    --blanco: #ffff;
    --negro: #000000;
    --letra: ;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    /* font-family: var(--estilo-letra_1);
    background-color: var(--fondo); */
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */
.contenedor{
    max-width: 110rem;
    width: 95%;
    margin: auto;
}

a{
    text-decoration: none;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
h1,h2,h3,h4{
    line-height: 1.2;
}
p{
    font-size: 1.5rem;
}
img{
    max-width: 100%;
}

/* Utilidades */
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}


/* Header */
.header{
    background-image: url(/4.-BlogCafé/img/banner.jpg);
    height: 60rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.header__texto{
   color: var(--blanco);
   padding-top: 2rem;
   margin: 0 3rem;

}

.barra{
    padding-top: 5rem;
}




@media (min-width: 768px) {
    .barra{
        display: flex;
        justify-content:space-between;
        align-items: center;
    }

    .nav{
        display: flex;
        gap: 2rem;
    }

    .header__texto{
        padding-top: 15rem;
    }
}

.logo{
    color: var(--blanco);
    
}
.logo__nombre{
    font-weight: 400;
}

.logo__bold{
    font-weight: 700;
}


.nav_enlace{
    display: block;
    text-align: center ;
    color: var(--blanco);
    font-size: 1.8rem;
    
}


/* Contacto */
.error, .validacion{
   
    text-align: center;
    color: var(--blanco);
    padding: 1rem;
    text-transform: uppercase;
}

.error{
    background-color: rgb(185, 0, 0);
}

.validacion{
    background-color: rgb(74, 185, 2);
}
.contacto-bg{
    background-image: url(/4.-BlogCafé/img/contacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
}

.formulario{
    z-index: 1;
    background-color: var(--blanco);
    width: 90%;
    margin: -10rem auto 0;
    padding: 2rem;
    border: 2px solid var(--color-primario);
    border-radius: 2rem;
}

.campo{
    display: flex;
    margin-bottom: 2rem;
}

.campo__label{
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
} 

.campo__fiel{
    flex: 1rem;
    border: 1px solid var(--negro);
    border-radius: .2rem;
}

.campo__field--textarea{
    height: 20rem;
}

.boton{
    text-transform: uppercase;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding: 1rem auto;
    text-align: center;
    background-color: var(--negro);
    color: var(--blanco);
    width: 12rem;
    height: 5rem;
}


/* Footer */
.footer{
    background-color: var(--negro);
    margin-top: 2rem;
}