@use '../base/mixins' as m;
@use '../base/variables' as v;

.contenedor-boletos{
    background-color: v.$verde;
    h3{
        color: v.$blanco;
        font-weight: 700;
    }

    .boletos{
        @include m.contenedor;
        @include m.tablet{
            @include m.grid(2, 5rem);

        }
    }
}

.pase{
    transition: transform .3s ease-in-out;
    &:hover{
        transform: scale(1.1);
    }
    &-nombre{
        font-size: 3.6rem;
        font-weight: 900;
        text-align: center;
        color: v.$blanco;
    }

    // Header
    &-header,
    &-footer{
        padding: .5rem;
        p{
            color: v.$blanco;
            text-align: center;
            margin: 0;
        }
    }


    &-header{
        background-color: v.$rosa;
        p{
            text-transform: uppercase;
            font-size: 2.2rem;
            padding: 1rem 0;
        }
    }


    // Body
    &-body{
        background-color: v.$blanco;

        ul{
            @include m.resetear-lista;

            li{
                padding: 2rem;
                color: v.$negro;
                border-bottom: 2px solid #e1e1e1;
                font-size: 2rem;
            }
        }

    }

    // Footer
    &-footer{
        background-color: v.$blanco;
        padding: 3rem;
        p{
            background-color: v.$morado;
            font-size: 2.8rem;
            font-weight: 700;
            padding: 1rem 0;
            border-radius: 1rem;
            cursor: pointer;

            &:hover{
                    background-color: darken(v.$morado, 15%);   
            }
        }
    }

    
}