@use 'base/variables' as v;
@use 'base/normalize';

body{
    background-color: v.$fondo_primario; 
    color: v.$color_fuente_principal;
   // <uniquifier>: Use a unique and descriptive class name
    // <weight>: Use a value from 100 to 900
    font-family: v.$estilo_fuente_principal;
    font-optical-sizing: auto;
    font-style: normal;
}
