/* Custom Properties */
$estilo_fuente_principal : "Montserrat", sans-serif;
$fondo_primario: #108554;
$color_fuente_principal: #c2bcbc;
// Colores
$verde:#4CB8B3;
$rosa: #F53756;
$amarillo: #fdda00;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;